# Fundamental
numpy
jax  # See document for installation
optax
dm-haiku
numpyro
numba
tensorboardX
ipdb

# Used by environment
gymnasium==0.29.1
dill==0.3.8
mujoco-py
matplotlib
scikit-learn

# Utility
tqdm
setproctitle
